#home-page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.btn-nav-home{
    background-color: black;
    color:white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4em 2em;
}

.btn-nav-home i{
    -webkit-text-stroke: 0.2px white;
}

@media only screen and (max-height:750px){
    .text-label{
    font-size: 74px !important;
    }
}

.text-label{
    font-family: 'Segoe UI',sans-serif;
    font-size: 92px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: center;
    /* display: flex; */
    /* justify-content: center; */
    color:#707070;
}

.home-tv-remote{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70vw; */
}

@media only screen and (max-width:450px) {
    .img-home{
        width:70vw;
    }

}

.img-home{
    overflow: hidden;
    position: relative;
    transform: scaleX(-1);
    /* width:70vw; */
}

.img-home .tv-home{
    /* transform: scaleX(-1); */
}

.home{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90%;
}

@media only screen and (min-width:1000px) {
    
    #div1 {
      position: relative;
      bottom: 10%;
      right: 25%;
      /* right:30%; */
      margin:0 20px;
      height: 4em;
      width: 12em;
      /* padding: 10px; */
      /* border: 1px solid black; */
      /* animation: mymove 5s infinite; */
      perspective: 800px;
      perspective-origin: 250px;
      transform: rotateZ(20deg);
    }
    
}

#div1 {
  position: relative;
  bottom: 10%;
  right: 25%;
  /* right:30%; */
  margin:0 20px;
  height: 4em;
  width: 12em;
  /* padding: 10px; */
  /* border: 1px solid black; */
  /* animation: mymove 5s infinite; */
  perspective: 800px;
  perspective-origin: 250px;
  transform: rotateZ(20deg);
}

@keyframes mymove {
  50% {perspective: 100px;}
}

#div2 {
  /* padding: 50px; */
  /* position: relative; */
  /* bottom: 4em; */
  /* right: 10%; */
  /* border: 1px solid black; */
  /* background-color: red; */
  transform: rotateX(35deg);
}

#div1 .img2{
    /* position: relative; */
    height: 50vh;
    /* width: 1em; */
    transform: rotateX(20deg);

    right: 90%;
    /* width: 20p; */
    /* height: 100p; */
}