.guide {
    display: flex;
    flex-direction:column;
    align-items:center;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.img {
    justify-content: space-around;
    margin: 2vw;
}

.card1 {
    /* margin: 2vw; */
    
}
*{
    /* font-family: ; */
    font-family: 'Nunito';
    font-size: 20px;
    /* font-family: Verdana, sans-serif; */
}
.items{
    color:lightgray;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:black;
}

  .btn-go-back {
      
    color:white;
    background-color: black;
    width: 165px;
    height: 45px;
    border-radius: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* font-family: Verdana; */
  }

.back-arrow {
    position: absolute;
    background-color: white;
    color:black;
    width: 30px;
    height: 30px;
    border-radius: 2vh;
    display: flex;
    z-index: 1;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;


}

.wrap{

    display: flex;
    align-items: center;
    /* top: 50%; */
    transform: translateY(25%);
    justify-content: center;
}

@media only screen and (max-height:750px){
    .tv-guide{
        height: 30vh;
        width:80vw;
    }
    .img div{
        height: 9em !important;
    }
}
.setupWifi .card{
    height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: red !important; */
}

.setupWifi .card div{
    /* background-color: red; */
    /* display: inline-block; */
    margin: 6px;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}
