.App {
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
}

body{
    /* background-color: #f6f6f6; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden
}


.tv-remote {
    background-color: #f6f6f6;
    padding: 2rem 0.5rem;
    margin: 0rem 1rem;
    width: 7rem;
    height: 7rem;
    /* border: 1px solid black; */
}

.tv{
    /* position: relative; */
    z-index: -1;
    width:4.1rem;
}

.remote{
    position: relative;
    top:-25%;
    left: 30%;
    width: 3rem ;
}
.tv-remote-guide {
    border:2px solid black;
    background-color: #f6f6f6;
    padding: 0rem 0rem;
    /* margin: 1rem 0rem; */
    width: 90vw;
    height: 30vh;
    /* border: 1px solid black; */
}

.tv-guidee{
    position: relative;
    /* bottom:-30%; */
    top:20%;
    /* left: 50%; */
    /* z-index: -1; */
    /* width:1; */
}

@media only screen and (max-height:750px) {
    
.tv-guidee{
    position: relative;
    /* bottom:-30%; */
    top:30% !important;
    width:80%;
    /* left: 50%; */
    /* z-index: -1; */
    /* width:1; */
}


.img {
    /* justify-content: space-around; */
    /* margin: 2vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem !important;
}

.img-2{
    height: 12rem !important;

}

.remote-guide{
    position: relative;
    bottom:13% !important;
    left:30%!important;
    width: 8rem !important;
}

.list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.055) !important;
}

}

@media only screen and (max-width: 700px) {
    
    
}

.img {
    /* justify-content: space-around; */
    /* margin: 2vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
}

.remote-guide{
    position: relative;
    bottom:13%;
    left: 35%;
    width: 12rem ;
    /* background-color: aqua; */

}

ListGroupItem {
    border-radius: 30px;
}

.product-td span{
    font-size: 18px !important;
    /* background-color: rebeccapurple; */
}

.img-func{
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}

.img-remote{
    width: 70px;
    position: absolute;
    top:30px;
    left: 27px;
    margin: 2em;

}


a{
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 2em;

    /* position: absolute; */
    /* align-items: space-around; */
}

.header .card{
    position: absolute;
    margin: 10px;
    width: 6.5em;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 2em;
    height: 50px;
}

.guide {
    display: flex;
    flex-direction:column;
    align-items:center;
    font-weight: bold;
}

a{
    color: black;
}


.card1 {
    margin: 2vw;
    
}
*{
    /* font-family: ; */
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* font-family: Verdana, sans-serif; */
}
.items{
    color:lightgray;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:black;
}

  .btn-go-back {
      border: none;
    color:white;
    background-color: black;
    width: 165px;
    height: 45px;
    border-radius: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* font-family: Verdana; */
  }

.back-arrow {
    position: absolute;
    background-color: white;
    color:black;
    width: 30px;
    height: 30px;
    border-radius: 2vh;
    display: flex;
    z-index: 1;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;


}

.wrap{

    display: flex;
    position: relative;
    align-items: center;
    /* top: 50%; */
    left: 3%;
    justify-content: center;
}

/* info.js */

tr.info{
    height: 7rem;
}

.table-tv{
    width:6rem;
}

.table-remote{
    height: 4rem;
    /* border: 2px solid black; */
}

.table-spec{
    height: 2rem;
}

.table-license{
    height: 3rem;
}

.table-warr{
    height: 2rem;
}

.table-tv1{
    height: 2rem;
}



Table{
    display: flex;
    justify-content: center;
}

.product-td span{
    font-size: 14px;

}
.product-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    justify-content: center;
    width: 100px;

}
.product-info{
    display: flex;
    align-self: center;
}


td{
    /* width: 7rem; */
    /* height: 5rem; */
    /* height: 5rem; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */

}

div.shadow-sm{
    margin:0.5rem 1.7rem 0 1.7rem ;
    /* border: 2px solid black; */
    border-radius: 30px;
}

.btn-nav-center{
    background-color: black;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    top: 2.5rem;
    left: 45%;
    outline:none;
    /* margin: 3rem; */
    -webkit-text-stroke: 0.2px white;
}

.btn-nav-left{
    border:none;
    background-color: black;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    bottom: 8%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    /* margin: 3rem; */
    -webkit-text-stroke: 0.2px white;
}

.btn-nav-left i {
    position: relative;
    right:5%;
}

.btn-back{
    background-color: black;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    outline:none;
    -webkit-text-stroke: 0.2px white;
}

/* -------------------------------------------------------- */

/* --- HANDSET ----- */

.td-handset{
    /* border: 1px solid black; */
    /* justify-content: center; */
    align-items: center;
    /* display: inline-block; */
    /* flex-direction: ; */
    padding-bottom: 10px;
}

.td-handset div{
    width: 100%;
    height: 100%;
    margin-right: 20px;
    /* border: 1px solid black; */
    /* display: inline-block; */
    /* flex-direction: ; */
}

.td-handset span{
    /* display: flex; */
    /* align-self: center; */
    justify-content: center;
    font-size: 18px;
}

.handset button{
    top:-0.5rem;
    border:none;
}


/* --------------------------- License -------------------------- */

.license{
    /* background-color: white; */
    padding:3rem 2rem;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.innerDiv{
    height: 65vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.imgs img{
    width: 10vh;
    display: block;
    justify-content: center;
    /* border: 2px solid black; */

}

.imgs{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.img-wrap{
    position: relative;
    top:18%;

}

.netflix img{
    margin-top: 2vh;
    width:16vh;
}

.license button{
    position: absolute;
    top:85%;
}

.lic{
    width:25vh;
    align-self: center;
}

#root .App .request{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

/* @media only screen and (max-width:476px){ */
    .request div img{
        object-fit: cover;
        width:100%;
    }
/* } */

.requestCard{
    padding: 1rem;
    position: relative;
    top:3em;
}

.requestCard .shadow{
    height: 45vh;
    width: 80vw;

}

.requestCard .card{
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.55)!important;
    border-radius: 4rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 50px;
    font-size: 14px;
}

.requestCard .card label{
    margin-left: 0.5em;
    font: 18px droid sans mono, consolas, monospace;

}

.requestCard .card img{
    width:2rem;
}

.requestCard #submit{
    position: relative;
    background-color: black;
    border-radius: 40px;
    color:white;
    width: 180px;
    height: 50px;
    margin-bottom: 1em;
    /* flex-direction: column; */
    /* top:200%; */
    /* left:25%; */
}

.request{
    display: flex;
    flex-direction: column;
    /* justify-content: space-b; */
    align-items: center;
}

.requestCard form{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.requestCard .form{
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request .form div{
    display: flex;
}
/* 
.request button{
    position: relative;
    top: 7em;
} */

#next-sub-btn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    right:0.7em;
    top:3em;
}

/* ------------------------------------------------------------------- */

.go-back-func{
    position: relative;
    bottom:100%;
}

.card-how-to .card{
    height:50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    border-radius: 50px !important;
    /* flex-direction: column; */
}

.card-how-to form{
    display: flex;
    justify-content: space-between;
}

.card-how-to input{
    margin-left:0.5rem;
    outline: none;
    height: 48px;
    border:none;
    border-radius: 20px;
    width: 80%;
    /* background-color: rebeccapurple; */
}

.card-how-to button{
    margin:0 0.5rem;
    border:none;
    background-color: white !important;
}

.suggestions div {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 400;
    border-radius: 10px; 
    margin: 3px;
}

.suggestions .times {
    /* -webkit-text-stroke: 0.01px white; */
    /* font-weight: 600; */
    /* width: 20px; */
    /* height: 20px; */
    align-self: center;
    justify-self: center;
}

.suggestions{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-bottom{
    /* position: absolute !important; */
    top: 10vh;
    /* bottom: 10px; */
}

.search {
    color: black;
}

.func-nav-btns{
    display: flex;
    flex-direction: column;
    height:150px;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
}

.func-nav-gradient { 
    height: 100vh;
    border-radius: 50%;
    width: 100vh;
    position: relative;
    /* z-index: -1; */
    bottom: 35%;
    background-image: linear-gradient(0deg, #374650 0%, #6E8CA0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.btns{
    background-color: black;
    outline: none;
    color: white;
    width: 178px;
    height: 50px;
    border-radius: 40px;
    border: none;
}

.contents{
    position: absolute;
    top: 45%;
    display: flex;
    align-content: flex-start;
    height: 50vh;
    flex-direction: column;
    color: white;
        justify-content: space-around;
    /* align-items: flex-start; */
}

.contents div {
    font-family: 'Roboto', sans-serif;
}

.contents div span {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
}

@media only screen and (max-height: 600px) {
    *{
        overflow: visible !important;
    }
}

.device-spec {
    padding: 1rem;
}

.device-spec .main{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 450px){
.device-spec .main img{
    width: 100%;
}
}

.device-spec .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.device-spec .title img{
   height: 45px;
}

.device-spec span{
    font-family: 'Roboto';
}

@media only screen and (max-height:700px){
    .device-spec button {
        position: relative;
        top: 17% !important;
    }
}